/* 
    Document   : viewModules
    Created on : Feb 28, 2014, 11:21:29 PM
    Author     : smu
    Description:
        Purpose of the stylesheet follows.
*/

h1{
text-align: center;
margin: 30px;
}

.tableContainer{
width: 100%; 
}


table, td, th{
border:1px solid green;
border-collapse: inherit;
border-spacing: 2px;
}

th{
background-color:green;
color:white;
text-align: center;
padding: 8px;
font-size: 16px;
}

td{
padding:3px;
font-size: 14px;
text-align: center;
}

.icons{
float: right; 
}

.linktext{
float: left; 
padding: 3px;
}

.buttons{
width: 100%;
text-align: center;
padding: 50px;
}

img{
cursor: pointer;
}

button
{
margin-right: 30px;
color: green;
}

a{
color: black;
}
a:hover{
color: green;
}
